#canvas {
  width: 600px;
  height:150px;
  margin-left:300px;
  margin-right:0px;
  margin-top:-195px;
  margin-bottom:0px;
}

#gain_loss {
  margin-left:0px;
  margin-right:0px;
  margin-top:10px;
  margin-bottom:0px;
}
